{% extends "base.html" %}

{% block content %}
    {{ session["user"] }}
    <h1>Create Profile</h1>
    
    <form action="{{ url_for('users.profile_create') }}" method="POST">
        {{ form.hidden_tag() }}
        <div>{{ form.first_name.label }}</div>
        <div>{{ form.first_name }}</div>
        <div>{{ form.last_name.label }}</div>
        <div>{{ form.last_name }}</div>
        <div>{{ form.description.label }}</div>
        <div>{{ form.description }}</div>
        <div>{{ form.submit }}</div>
    </form>
{% endblock %}
